{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "no-unused-vars": [1],
        "prettier/prettier": ["error"]
    },
    "extends": ["airbnb-base", "prettier"],
    "env": {
        "browser": true
    }
}